.appointmentBooking{
    background-image: url("../../../assets/login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}


.appointment-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #86cef1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.appointment-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.appointment-container form {
    display: flex;
    flex-direction: column;
}

.appointment-container label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.appointment-container select,
.appointment-container button {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.appointment-container button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.appointment-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.appointment-container button:hover:not(:disabled) {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .appointment-container {
        padding: 15px;
    }

    .appointment-container h2 {
        font-size: 20px;
    }

    .appointment-container select,
    .appointment-container button {
        font-size: 14px;
    }
}
