<div class="login-container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <label >Email:</label>
        <input type="email" formControlName="email" placeholder="Enter email">
        <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
            <small>Email is required and should be valid. </small>
        </div>
        <label >Password: </label>
        <input type="password" formControlName="password" placeholder="Enter password">
        <div *ngIf="loginForm.controls['password'].invalid ">
            <small>Password must be at least 8 Characters.</small>
        </div>

        <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>

    <p *ngIf="errorMessage" class="error">{{errorMessage}}</p>
    <p>Don't have an Account? <a class="nav-link" routerLink = "/auth/register">Register</a></p>
</div>
